# backend
backend/node_modules/
backend/dist/
logs/

# frontend
frontend/node_modules/
frontend/certs/ # remove after GH Actions set up
*/**/localhost.pem
*/**/localhost-key.pem

# global
*.env
.DS_Store